body {
  /* background-image: url("../order.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  position: absolute;
  left: 80px;
  top: 10px;
  border: solid gold 4px;
  border-radius: 20px;
  background-color: slateblue;
  height: 380px;
  min-width: 450px;
}

#term,
#int,
#amount,
#pmt {
  width: 100px;
}
#int {
  margin-left: 110px;
}
#term {
  margin-left: 150px;
}
#amount {
  margin-left: 133px;
}
#pmt {
  margin-left: 210px;
}

label {
  font-family: monospace;
  color: white;
  margin-left: 20px;
  font-size: medium;
}

#sbt,
#rst {
  margin-left: 30px;
}

input:valid {
  background-color: green;
  color: white;
}

input:invalid {
  background-color: darkred;
  color: white;
}

#demo {
  font-size: 1em;
  color: goldenrod;
  left: 50px;
}
