body {
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  position: absolute;
  left: 80px;
  top: 10px;
  border: solid gold 4px;
  border-radius: 20px;
  background-color: slateblue;
  height: 300px;
  min-width: 450px;
}

#term,
#int,
#amount {
  width: 100px;
}
#int {
  margin-left: 103px;
}
#term {
  margin-left: 150px;
}
#amount {
  margin-left: 130px;
}

label {
  font-family: monospace;
  color: white;
  margin-left: 20px;
  font-size: large;
}

#sbt {
  margin-left: 30px;
}

input:valid {
  background-color: green;
  color: white;
}

input:invalid {
  background-color: darkred;
  color: white;
}

#pos {
  position: absolute;
  font-size: 2.5em;
  color: rgb(82, 32, 218);
  left: 200px;
  top: 450px;
  float: center;
}

#demo {
  list-style-type: none;
  background-color: yellowgreen;
  border-radius: 15px;
  width: 140px;
  text-align: center;
}
#del {
  font-size: 0.5em;
  display: none;
}
