body {
  background-image: url("../order.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.display-1 {
  color: blueviolet;
  text-align: center;
  font-size: 60px;
}
.box {
  position: absolute;
  left: 10px;
  top: 120px;
  border: solid gold 4px;
  border-radius: 20px;
  background-color: #4d4848;
  height: 380px;
  min-width: 500px;
}

#term,
#int,
#amount,
#pmt {
  width: 100px;
}
#int {
  margin-left: 110px;
}
#term {
  margin-left: 150px;
}
#amount {
  margin-left: 133px;
}
#pmt {
  margin-left: 210px;
}

label {
  font-family: monospace;
  color: white;
  margin-left: 20px;
  font-size: medium;
}

#sbt,
#rst {
  margin-left: 30px;
}

input:valid {
  background-color: green;
  color: white;
}
